.elementor-362 .elementor-element.elementor-element-1f27807{text-align:left;}.elementor-362 .elementor-element.elementor-element-1f27807 img{width:180px;}.elementor-362 .elementor-element.elementor-element-8fc1863{padding:30px 0px 30px 0px;}.elementor-362 .elementor-element.elementor-element-63126cd{text-align:left;}.elementor-362 .elementor-element.elementor-element-63126cd .elementor-heading-title{color:#F4F4F4;font-family:"Poppins", Sans-serif;font-size:38px;font-weight:600;line-height:30px;}.elementor-362 .elementor-element.elementor-element-63126cd > .elementor-widget-container{margin:0px 0px 10px 0px;}.elementor-362 .elementor-element.elementor-element-582b7af > .elementor-widget-container{margin:0px 0px 0px 0px;}.elementor-362 .elementor-element.elementor-element-be6b109{margin-top:50px;margin-bottom:0px;}.elementor-362 .elementor-element.elementor-element-b63ea92{text-align:left;}.elementor-362 .elementor-element.elementor-element-b63ea92 img{width:180px;}.elementor-362 .elementor-element.elementor-element-b63ea92 > .elementor-widget-container{margin:0px 0px 50px 0px;}.elementor-362 .elementor-element.elementor-element-52763e8{text-align:right;width:100%;max-width:100%;}.elementor-362 .elementor-element.elementor-element-52763e8 .elementor-heading-title{color:#FFFFFF;font-family:"Poppins", Sans-serif;font-size:18px;font-weight:600;letter-spacing:1px;}.elementor-362 .elementor-element.elementor-element-52763e8 > .elementor-widget-container{margin:0px 0px 10px 0px;}.elementor-362 .elementor-element.elementor-element-15779dd{--grid-template-columns:repeat(0, auto);--icon-size:22px;--grid-column-gap:14px;--grid-row-gap:0px;}.elementor-362 .elementor-element.elementor-element-15779dd .elementor-widget-container{text-align:right;}.elementor-362 .elementor-element.elementor-element-15779dd .elementor-social-icon{background-color:#FFFFFF;}.elementor-362 .elementor-element.elementor-element-15779dd .elementor-social-icon i{color:#212349;}.elementor-362 .elementor-element.elementor-element-15779dd .elementor-social-icon svg{fill:#212349;}.elementor-362 .elementor-element.elementor-element-15779dd .elementor-icon{border-radius:50px 50px 50px 50px;}.elementor-362 .elementor-element.elementor-element-da95cd0{margin-top:150px;margin-bottom:0px;padding:0px 0px 0px 0px;}.elementor-362 .elementor-element.elementor-element-9b1c030 .elementor-heading-title{color:#6EC1E400;}.elementor-362 .elementor-element.elementor-element-3d2320f .elementor-heading-title{color:#6EC1E400;}.elementor-362 .elementor-element.elementor-element-c3970ac .elementor-heading-title{color:#6EC1E400;}.elementor-362 .elementor-element.elementor-element-a7563ab .elementor-icon-list-items:not(.elementor-inline-items) .elementor-icon-list-item:not(:last-child){padding-bottom:calc(10px/2);}.elementor-362 .elementor-element.elementor-element-a7563ab .elementor-icon-list-items:not(.elementor-inline-items) .elementor-icon-list-item:not(:first-child){margin-top:calc(10px/2);}.elementor-362 .elementor-element.elementor-element-a7563ab .elementor-icon-list-items.elementor-inline-items .elementor-icon-list-item{margin-right:calc(10px/2);margin-left:calc(10px/2);}.elementor-362 .elementor-element.elementor-element-a7563ab .elementor-icon-list-items.elementor-inline-items{margin-right:calc(-10px/2);margin-left:calc(-10px/2);}body.rtl .elementor-362 .elementor-element.elementor-element-a7563ab .elementor-icon-list-items.elementor-inline-items .elementor-icon-list-item:after{left:calc(-10px/2);}body:not(.rtl) .elementor-362 .elementor-element.elementor-element-a7563ab .elementor-icon-list-items.elementor-inline-items .elementor-icon-list-item:after{right:calc(-10px/2);}.elementor-362 .elementor-element.elementor-element-a7563ab .elementor-icon-list-icon i{color:#FFFFFF;font-size:18px;}.elementor-362 .elementor-element.elementor-element-a7563ab .elementor-icon-list-icon svg{fill:#FFFFFF;width:18px;}.elementor-362 .elementor-element.elementor-element-a7563ab .elementor-icon-list-icon{text-align:left;}.elementor-362 .elementor-element.elementor-element-a7563ab .elementor-icon-list-text{color:#FFFFFF;}.elementor-362 .elementor-element.elementor-element-a7563ab .elementor-icon-list-item, .elementor-362 .elementor-element.elementor-element-a7563ab .elementor-icon-list-item a{font-family:"Poppins", Sans-serif;font-size:15px;font-weight:400;line-height:20px;letter-spacing:1px;}.elementor-362 .elementor-element.elementor-element-8d116a4{text-align:left;width:auto;max-width:auto;}.elementor-362 .elementor-element.elementor-element-8d116a4 > .elementor-widget-container{margin:0px 10px 0px 0px;}.elementor-362 .elementor-element.elementor-element-9384002{text-align:left;width:auto;max-width:auto;}.elementor-362 .elementor-element.elementor-element-9384002 .elementor-heading-title{color:#FFFFFF;font-family:"Poppins", Sans-serif;font-size:18px;font-weight:600;letter-spacing:1px;}.elementor-362 .elementor-element.elementor-element-9384002 > .elementor-widget-container{margin:1px 0px 0px 0px;}.elementor-362 .elementor-element.elementor-element-abcfcb6 .elementor-nav-menu .elementor-item{font-family:"Poppins", Sans-serif;font-size:15px;font-weight:400;letter-spacing:1px;}.elementor-362 .elementor-element.elementor-element-abcfcb6 .elementor-nav-menu--main .elementor-item{color:#FFFFFF;padding-left:15px;padding-right:15px;padding-top:6px;padding-bottom:6px;}.elementor-362 .elementor-element.elementor-element-abcfcb6 .elementor-nav-menu--main .elementor-item:hover,
					.elementor-362 .elementor-element.elementor-element-abcfcb6 .elementor-nav-menu--main .elementor-item.elementor-item-active,
					.elementor-362 .elementor-element.elementor-element-abcfcb6 .elementor-nav-menu--main .elementor-item.highlighted,
					.elementor-362 .elementor-element.elementor-element-abcfcb6 .elementor-nav-menu--main .elementor-item:focus{color:#FAF117;}.elementor-362 .elementor-element.elementor-element-abcfcb6 .elementor-nav-menu--main:not(.e--pointer-framed) .elementor-item:before,
					.elementor-362 .elementor-element.elementor-element-abcfcb6 .elementor-nav-menu--main:not(.e--pointer-framed) .elementor-item:after{background-color:#FAF117;}.elementor-362 .elementor-element.elementor-element-abcfcb6 .e--pointer-framed .elementor-item:before,
					.elementor-362 .elementor-element.elementor-element-abcfcb6 .e--pointer-framed .elementor-item:after{border-color:#FAF117;}.elementor-362 .elementor-element.elementor-element-abcfcb6 .elementor-nav-menu--main .elementor-item.elementor-item-active{color:#FAF117;}.elementor-362 .elementor-element.elementor-element-abcfcb6 .e--pointer-framed .elementor-item:before{border-width:0px;}.elementor-362 .elementor-element.elementor-element-abcfcb6 .e--pointer-framed.e--animation-draw .elementor-item:before{border-width:0 0 0px 0px;}.elementor-362 .elementor-element.elementor-element-abcfcb6 .e--pointer-framed.e--animation-draw .elementor-item:after{border-width:0px 0px 0 0;}.elementor-362 .elementor-element.elementor-element-abcfcb6 .e--pointer-framed.e--animation-corners .elementor-item:before{border-width:0px 0 0 0px;}.elementor-362 .elementor-element.elementor-element-abcfcb6 .e--pointer-framed.e--animation-corners .elementor-item:after{border-width:0 0px 0px 0;}.elementor-362 .elementor-element.elementor-element-abcfcb6 .e--pointer-underline .elementor-item:after,
					 .elementor-362 .elementor-element.elementor-element-abcfcb6 .e--pointer-overline .elementor-item:before,
					 .elementor-362 .elementor-element.elementor-element-abcfcb6 .e--pointer-double-line .elementor-item:before,
					 .elementor-362 .elementor-element.elementor-element-abcfcb6 .e--pointer-double-line .elementor-item:after{height:0px;}body:not(.rtl) .elementor-362 .elementor-element.elementor-element-abcfcb6 .elementor-nav-menu--layout-horizontal .elementor-nav-menu > li:not(:last-child){margin-right:0px;}body.rtl .elementor-362 .elementor-element.elementor-element-abcfcb6 .elementor-nav-menu--layout-horizontal .elementor-nav-menu > li:not(:last-child){margin-left:0px;}.elementor-362 .elementor-element.elementor-element-abcfcb6 .elementor-nav-menu--main:not(.elementor-nav-menu--layout-horizontal) .elementor-nav-menu > li:not(:last-child){margin-bottom:0px;}.elementor-362 .elementor-element.elementor-element-abcfcb6 > .elementor-widget-container{margin:14px 0px 0px 0px;}.elementor-362 .elementor-element.elementor-element-824bee5{text-align:left;width:auto;max-width:auto;}.elementor-362 .elementor-element.elementor-element-824bee5 .elementor-heading-title{color:#FFFFFF;font-family:"Poppins", Sans-serif;font-size:18px;font-weight:600;letter-spacing:1px;}.elementor-362 .elementor-element.elementor-element-824bee5 > .elementor-widget-container{margin:1px 0px 0px 0px;}.elementor-362 .elementor-element.elementor-element-caccf89 .elementor-nav-menu .elementor-item{font-family:"Poppins", Sans-serif;font-size:15px;font-weight:400;letter-spacing:1px;}.elementor-362 .elementor-element.elementor-element-caccf89 .elementor-nav-menu--main .elementor-item{color:#FFFFFF;padding-left:0px;padding-right:0px;padding-top:6px;padding-bottom:6px;}.elementor-362 .elementor-element.elementor-element-caccf89 .elementor-nav-menu--main .elementor-item:hover,
					.elementor-362 .elementor-element.elementor-element-caccf89 .elementor-nav-menu--main .elementor-item.elementor-item-active,
					.elementor-362 .elementor-element.elementor-element-caccf89 .elementor-nav-menu--main .elementor-item.highlighted,
					.elementor-362 .elementor-element.elementor-element-caccf89 .elementor-nav-menu--main .elementor-item:focus{color:#FAF117;}.elementor-362 .elementor-element.elementor-element-caccf89 .elementor-nav-menu--main:not(.e--pointer-framed) .elementor-item:before,
					.elementor-362 .elementor-element.elementor-element-caccf89 .elementor-nav-menu--main:not(.e--pointer-framed) .elementor-item:after{background-color:#FAF117;}.elementor-362 .elementor-element.elementor-element-caccf89 .e--pointer-framed .elementor-item:before,
					.elementor-362 .elementor-element.elementor-element-caccf89 .e--pointer-framed .elementor-item:after{border-color:#FAF117;}.elementor-362 .elementor-element.elementor-element-caccf89 .elementor-nav-menu--main .elementor-item.elementor-item-active{color:#FAF117;}.elementor-362 .elementor-element.elementor-element-caccf89 .e--pointer-framed .elementor-item:before{border-width:0px;}.elementor-362 .elementor-element.elementor-element-caccf89 .e--pointer-framed.e--animation-draw .elementor-item:before{border-width:0 0 0px 0px;}.elementor-362 .elementor-element.elementor-element-caccf89 .e--pointer-framed.e--animation-draw .elementor-item:after{border-width:0px 0px 0 0;}.elementor-362 .elementor-element.elementor-element-caccf89 .e--pointer-framed.e--animation-corners .elementor-item:before{border-width:0px 0 0 0px;}.elementor-362 .elementor-element.elementor-element-caccf89 .e--pointer-framed.e--animation-corners .elementor-item:after{border-width:0 0px 0px 0;}.elementor-362 .elementor-element.elementor-element-caccf89 .e--pointer-underline .elementor-item:after,
					 .elementor-362 .elementor-element.elementor-element-caccf89 .e--pointer-overline .elementor-item:before,
					 .elementor-362 .elementor-element.elementor-element-caccf89 .e--pointer-double-line .elementor-item:before,
					 .elementor-362 .elementor-element.elementor-element-caccf89 .e--pointer-double-line .elementor-item:after{height:0px;}body:not(.rtl) .elementor-362 .elementor-element.elementor-element-caccf89 .elementor-nav-menu--layout-horizontal .elementor-nav-menu > li:not(:last-child){margin-right:0px;}body.rtl .elementor-362 .elementor-element.elementor-element-caccf89 .elementor-nav-menu--layout-horizontal .elementor-nav-menu > li:not(:last-child){margin-left:0px;}.elementor-362 .elementor-element.elementor-element-caccf89 .elementor-nav-menu--main:not(.elementor-nav-menu--layout-horizontal) .elementor-nav-menu > li:not(:last-child){margin-bottom:0px;}.elementor-362 .elementor-element.elementor-element-caccf89 > .elementor-widget-container{margin:14px 0px 0px 0px;}.elementor-362 .elementor-element.elementor-element-0a55156{text-align:left;width:auto;max-width:auto;}.elementor-362 .elementor-element.elementor-element-0a55156 .elementor-heading-title{color:#FFFFFF;font-family:"Poppins", Sans-serif;font-size:18px;font-weight:600;letter-spacing:1px;}.elementor-362 .elementor-element.elementor-element-0a55156 > .elementor-widget-container{margin:0px 0px 10px 0px;}.elementor-362 .elementor-element.elementor-element-c000e17{text-align:left;}.elementor-362 .elementor-element.elementor-element-c000e17 > .elementor-widget-container{margin:0px 0px 0px 0px;}.elementor-362 .elementor-element.elementor-element-c23e29f{margin-top:0px;margin-bottom:0px;padding:0px 0px 70px 0px;}.elementor-362 .elementor-element.elementor-element-13aa9f71:not(.elementor-motion-effects-element-type-background), .elementor-362 .elementor-element.elementor-element-13aa9f71 > .elementor-motion-effects-container > .elementor-motion-effects-layer{background-image:url("https://www.crosscombatonline.com/wp-content/uploads/2021/06/image_6487327_1_.webp");background-position:center center;background-repeat:no-repeat;background-size:cover;}.elementor-362 .elementor-element.elementor-element-13aa9f71 > .elementor-background-overlay{background-image:url("https://www.crosscombatonline.com/wp-content/uploads/2021/06/Rectangle-1243.webp");background-position:center center;background-repeat:no-repeat;background-size:cover;opacity:1;transition:background 0.3s, border-radius 0.3s, opacity 0.3s;}.elementor-362 .elementor-element.elementor-element-13aa9f71{transition:background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;}@media(max-width:1024px){.elementor-362 .elementor-element.elementor-element-52763e8 .elementor-heading-title{font-size:20px;}}@media(max-width:767px){.elementor-362 .elementor-element.elementor-element-63126cd .elementor-heading-title{font-size:30px;}.elementor-362 .elementor-element.elementor-element-b63ea92{text-align:center;}.elementor-362 .elementor-element.elementor-element-b63ea92 > .elementor-widget-container{margin:0px 0px 20px 0px;}.elementor-362 .elementor-element.elementor-element-52763e8{text-align:left;}.elementor-362 .elementor-element.elementor-element-15779dd .elementor-widget-container{text-align:left;}.elementor-362 .elementor-element.elementor-element-15779dd{--icon-size:15px;}}@media(max-width:1024px) and (min-width:768px){.elementor-362 .elementor-element.elementor-element-16b2e74{width:50%;}.elementor-362 .elementor-element.elementor-element-a955dc0{width:50%;}.elementor-362 .elementor-element.elementor-element-03bca48{width:100%;}.elementor-362 .elementor-element.elementor-element-de5961b{width:50%;}.elementor-362 .elementor-element.elementor-element-0c8c5cd{width:50%;}.elementor-362 .elementor-element.elementor-element-0112a67{width:50%;}.elementor-362 .elementor-element.elementor-element-700ea67{width:50%;}}/* Start custom CSS for heading, class: .elementor-element-63126cd */.elementor-362 .elementor-element.elementor-element-63126cd p:last-child{
    margin: 0;
}/* End custom CSS */
/* Start custom CSS for shortcode, class: .elementor-element-b08a0de */.elementor-362 .elementor-element.elementor-element-b08a0de{
    overflow: hidden;
    height: 0;
    display: none;
}/* End custom CSS */
/* Start custom CSS for shortcode, class: .elementor-element-64ddf12 */.elementor-362 .elementor-element.elementor-element-64ddf12{
    overflow: hidden;
    height: 0;
    display: none;
}/* End custom CSS */
/* Start custom CSS for shortcode, class: .elementor-element-a80432d */.elementor-362 .elementor-element.elementor-element-a80432d{
    height: 0;
    overflow: hidden;
    display: none;
}/* End custom CSS */
/* Start custom CSS for text-editor, class: .elementor-element-582b7af */.elementor-362 .elementor-element.elementor-element-582b7af span.select2-selection{
    border: none;
    background: transparent;
    border-bottom:1px solid #5f5f5f52;
     font-family: "Poppins", Sans-serif !important;
     color:#939EA4;
}
.elementor-362 .elementor-element.elementor-element-582b7af form label{
       font-family: "Poppins", Sans-serif !important;
    font-size: 15px;
    font-weight: 500;
    letter-spacing: .5px;
        color:black;
}
.elementor-362 .elementor-element.elementor-element-582b7af select{
    width: 100% !important;
    background: transparent !important;
    border-bottom: 1px solid #d1d1d1 !important;
    border-left: 0;
    border-right: 0;
    border-top: 0;
}
.elementor-362 .elementor-element.elementor-element-582b7af .wc_payment_method label{
        position: relative !important;
    top: -8px !important;
}
.elementor-362 .elementor-element.elementor-element-582b7af .woocommerce-input-wrapper strong{
    font-weight: 400 !important;
    color:black;
}
.elementor-362 .elementor-element.elementor-element-582b7af .shop_table{
    font-family: "Poppins", Sans-serif !important;
}
.elementor-362 .elementor-element.elementor-element-582b7af form input{
    border: none;
    background: transparent;
    border-bottom:1px solid #5f5f5f52;
     font-family: "Poppins", Sans-serif !important;
     color:#939EA4;
}
.elementor-362 .elementor-element.elementor-element-582b7af form input::-webkit-input-placeholder { /* Edge */
  opacity: 9;
  color:#939EA4;
      font-family: "Poppins", Sans-serif !important;
}

.elementor-362 .elementor-element.elementor-element-582b7af form input:-ms-input-placeholder { /* Internet Explorer 10-11 */
  opacity: 9;
  color:#939EA4;
      font-family: "Poppins", Sans-serif !important;
}

.elementor-362 .elementor-element.elementor-element-582b7af form input::placeholder {
  opacity: 9;
  color:#939EA4;
      font-family: "Poppins", Sans-serif !important;
}
.woocommerce-form__label-for-checkbox span{
   
}
.elementor-362 .elementor-element.elementor-element-582b7af #order_review button{
    background: #D4324B !important;
    padding:20px 25px !important;
    font-size:18px !important;
    font-weight: 600;
    border-radius: 10px !important;
    letter-spacing: .5px;
}
.elementor-362 .elementor-element.elementor-element-582b7af .woocommerce-additional-fields{
    display: none
}
.elementor-362 .elementor-element.elementor-element-582b7af .woocommerce-form__label-for-checkbox{
    display: flex !important;
} 
.elementor-362 .elementor-element.elementor-element-582b7af input{
    color: #333658 !important;
}
.elementor-362 .elementor-element.elementor-element-582b7af .mycheckbox span.optional{
    display: none !important;
}
.elementor-362 .elementor-element.elementor-element-582b7af .mycheckbox span.txt-lbl{
        position: relative;
    top: -5px;
    margin-bottom: 20px;
}
.elementor-362 .elementor-element.elementor-element-582b7af .mycheckbox span.txt-lbl span{
    color:#d4324b;
}
.elementor-362 .elementor-element.elementor-element-582b7af .mycheckbox label.checkbox{
        line-height: 20px;
    font-family: "Poppins", Sans-serif !important;
    font-weight: 400;
    margin-bottom: 0px;
}
.elementor-362 .elementor-element.elementor-element-582b7af .woocommerce-form__label-for-checkbox span{
       
    line-height: 20px;
      font-family: "Poppins", Sans-serif !important;
      font-weight: 400;
      margin-bottom: 0px;
}
.elementor-362 .elementor-element.elementor-element-582b7af .woocommerce-form__label-for-checkbox span.required{
    display: none;
}
.woocommerce-terms-and-conditions-checkbox-text span{
    display: inline-block;
    margin:0;
}
.woocommerce-terms-and-conditions-checkbox-text a{
    display: inline-block;
    margin:0;
}
.woocommerce-terms-and-conditions-checkbox-text{
        margin: 0;
    position: relative;
    top: -5px;
}
.woocommerce-terms-and-conditions-checkbox-text a.privacidad::after{
    content:"  *";
}/* End custom CSS */
/* Start custom CSS for heading, class: .elementor-element-63126cd */.elementor-362 .elementor-element.elementor-element-63126cd p:last-child{
    margin: 0;
}/* End custom CSS */
/* Start custom CSS for shortcode, class: .elementor-element-b08a0de */.elementor-362 .elementor-element.elementor-element-b08a0de{
    overflow: hidden;
    height: 0;
    display: none;
}/* End custom CSS */
/* Start custom CSS for shortcode, class: .elementor-element-64ddf12 */.elementor-362 .elementor-element.elementor-element-64ddf12{
    overflow: hidden;
    height: 0;
    display: none;
}/* End custom CSS */
/* Start custom CSS for shortcode, class: .elementor-element-a80432d */.elementor-362 .elementor-element.elementor-element-a80432d{
    height: 0;
    overflow: hidden;
    display: none;
}/* End custom CSS */
/* Start custom CSS for text-editor, class: .elementor-element-582b7af */.elementor-362 .elementor-element.elementor-element-582b7af span.select2-selection{
    border: none;
    background: transparent;
    border-bottom:1px solid #5f5f5f52;
     font-family: "Poppins", Sans-serif !important;
     color:#939EA4;
}
.elementor-362 .elementor-element.elementor-element-582b7af form label{
       font-family: "Poppins", Sans-serif !important;
    font-size: 15px;
    font-weight: 500;
    letter-spacing: .5px;
        color:black;
}
.elementor-362 .elementor-element.elementor-element-582b7af select{
    width: 100% !important;
    background: transparent !important;
    border-bottom: 1px solid #d1d1d1 !important;
    border-left: 0;
    border-right: 0;
    border-top: 0;
}
.elementor-362 .elementor-element.elementor-element-582b7af .wc_payment_method label{
        position: relative !important;
    top: -8px !important;
}
.elementor-362 .elementor-element.elementor-element-582b7af .woocommerce-input-wrapper strong{
    font-weight: 400 !important;
    color:black;
}
.elementor-362 .elementor-element.elementor-element-582b7af .shop_table{
    font-family: "Poppins", Sans-serif !important;
}
.elementor-362 .elementor-element.elementor-element-582b7af form input{
    border: none;
    background: transparent;
    border-bottom:1px solid #5f5f5f52;
     font-family: "Poppins", Sans-serif !important;
     color:#939EA4;
}
.elementor-362 .elementor-element.elementor-element-582b7af form input::-webkit-input-placeholder { /* Edge */
  opacity: 9;
  color:#939EA4;
      font-family: "Poppins", Sans-serif !important;
}

.elementor-362 .elementor-element.elementor-element-582b7af form input:-ms-input-placeholder { /* Internet Explorer 10-11 */
  opacity: 9;
  color:#939EA4;
      font-family: "Poppins", Sans-serif !important;
}

.elementor-362 .elementor-element.elementor-element-582b7af form input::placeholder {
  opacity: 9;
  color:#939EA4;
      font-family: "Poppins", Sans-serif !important;
}
.woocommerce-form__label-for-checkbox span{
   
}
.elementor-362 .elementor-element.elementor-element-582b7af #order_review button{
    background: #D4324B !important;
    padding:20px 25px !important;
    font-size:18px !important;
    font-weight: 600;
    border-radius: 10px !important;
    letter-spacing: .5px;
}
.elementor-362 .elementor-element.elementor-element-582b7af .woocommerce-additional-fields{
    display: none
}
.elementor-362 .elementor-element.elementor-element-582b7af .woocommerce-form__label-for-checkbox{
    display: flex !important;
} 
.elementor-362 .elementor-element.elementor-element-582b7af input{
    color: #333658 !important;
}
.elementor-362 .elementor-element.elementor-element-582b7af .mycheckbox span.optional{
    display: none !important;
}
.elementor-362 .elementor-element.elementor-element-582b7af .mycheckbox span.txt-lbl{
        position: relative;
    top: -5px;
    margin-bottom: 20px;
}
.elementor-362 .elementor-element.elementor-element-582b7af .mycheckbox span.txt-lbl span{
    color:#d4324b;
}
.elementor-362 .elementor-element.elementor-element-582b7af .mycheckbox label.checkbox{
        line-height: 20px;
    font-family: "Poppins", Sans-serif !important;
    font-weight: 400;
    margin-bottom: 0px;
}
.elementor-362 .elementor-element.elementor-element-582b7af .woocommerce-form__label-for-checkbox span{
       
    line-height: 20px;
      font-family: "Poppins", Sans-serif !important;
      font-weight: 400;
      margin-bottom: 0px;
}
.elementor-362 .elementor-element.elementor-element-582b7af .woocommerce-form__label-for-checkbox span.required{
    display: none;
}
.woocommerce-terms-and-conditions-checkbox-text span{
    display: inline-block;
    margin:0;
}
.woocommerce-terms-and-conditions-checkbox-text a{
    display: inline-block;
    margin:0;
}
.woocommerce-terms-and-conditions-checkbox-text{
        margin: 0;
    position: relative;
    top: -5px;
}
.woocommerce-terms-and-conditions-checkbox-text a.privacidad::after{
    content:"  *";
}/* End custom CSS */
/* Start custom CSS for section, class: .elementor-element-be6b109 */.elementor-362 .elementor-element.elementor-element-be6b109 .col2-set h3{
    color:transparent;
    margin:0 !important;
    padding:0 !important;
    margin-bottom: 30px !important;
}
.elementor-362 .elementor-element.elementor-element-be6b109 .col2-set h3::after{
    content:"Detalles de FacturaciÃ³n";
    color:black;
    display: block;
    text-align: center;
    font-weight: 600;
    font-size: 26px;
    margin-top: 0;
}
#order_review_heading{
    color:transparent;
    margin:0 !important;
    padding:0 !important;
    margin-bottom: 30px !important;
    background: #ffffffcc;
    padding: 30px;
    padding-top: 10px !important;
    border-radius: 30px !important;
    margin-bottom: 0 !important;
     border-bottom-right-radius: 0px !important;
    border-bottom-left-radius: 0px !important;
}
#order_review_heading::after{
    content:"Detalles de FacturaciÃ³n";
    color:black;
    display: block;
    text-align: center;
    font-weight: 600;
    font-size: 26px;
    margin-top: 0;
}
.elementor-362 .elementor-element.elementor-element-be6b109 .col2-set{
    background: #ffffffcc;
    padding: 30px;
    padding-top: 10px !important;
    border-radius: 30px !important;
}
.elementor-362 .elementor-element.elementor-element-be6b109 #order_review{
    background: #ffffffcc;
    padding: 30px;
    padding-top: 10px !important;
    border-radius: 30px !important;
    border-top-right-radius: 0px !important;
    border-top-left-radius: 0px !important;
}/* End custom CSS */
/* Start custom CSS for heading, class: .elementor-element-52763e8 */.elementor-362 .elementor-element.elementor-element-52763e8 p{
    margin: 0;
}
.elementor-362 .elementor-element.elementor-element-52763e8{
    margin: 0;
}/* End custom CSS */
/* Start custom CSS for heading, class: .elementor-element-52763e8 */.elementor-362 .elementor-element.elementor-element-52763e8 p{
    margin: 0;
}
.elementor-362 .elementor-element.elementor-element-52763e8{
    margin: 0;
}/* End custom CSS */
/* Start custom CSS for section, class: .elementor-element-da95cd0 */.woocommerce-button{
    padding:10px 10px !important;
}
form.woocommerce-form-login button.woocommerce-form-login__submit{
    padding-left: 20px !important;
    padding-right: 20px !important;
}/* End custom CSS */
/* Start custom CSS for heading, class: .elementor-element-9b1c030 */.elementor-362 .elementor-element.elementor-element-9b1c030{
    margin: 0;
        height: 5px;
    overflow: hidden;
}
.elementor-362 .elementor-element.elementor-element-9b1c030 p{
    margin: 0;
}/* End custom CSS */
/* Start custom CSS for heading, class: .elementor-element-3d2320f */.elementor-362 .elementor-element.elementor-element-3d2320f{
    margin: 0;
        height: 5px;
    overflow: hidden;
}
.elementor-362 .elementor-element.elementor-element-3d2320f p{
    margin: 0;
}/* End custom CSS */
/* Start custom CSS for heading, class: .elementor-element-c3970ac */.elementor-362 .elementor-element.elementor-element-c3970ac{
    margin: 0;
        height: 5px;
    overflow: hidden;
}
.elementor-362 .elementor-element.elementor-element-c3970ac p{
    margin: 0;
}/* End custom CSS */
/* Start custom CSS for icon-list, class: .elementor-element-a7563ab */.elementor-362 .elementor-element.elementor-element-a7563ab svg{ 
    color:white !important;
    position: relative;
    top: 5px;
    width:25px;
    height: 25px;
    margin-right: 5px;
}
.elementor-362 .elementor-element.elementor-element-a7563ab li{
    word-break: break-word;
}/* End custom CSS */
/* Start custom CSS for heading, class: .elementor-element-9384002 */.elementor-362 .elementor-element.elementor-element-9384002 p{
    margin: 0;
}
.elementor-362 .elementor-element.elementor-element-9384002{
    margin: 0;
}/* End custom CSS */
/* Start custom CSS for nav-menu, class: .elementor-element-abcfcb6 */.elementor-362 .elementor-element.elementor-element-abcfcb6 ul li a:before{
    content:"Â·";
    display: inline-block;
    opacity: 9 !important;
    border:none;
    background:none !important;
    font-size: 30px;
}
.elementor-362 .elementor-element.elementor-element-abcfcb6 ul li a{
    display: inline-block;
}/* End custom CSS */
/* Start custom CSS for heading, class: .elementor-element-824bee5 */.elementor-362 .elementor-element.elementor-element-824bee5 p{
    margin: 0;
}
.elementor-362 .elementor-element.elementor-element-824bee5{
    margin: 0;
}/* End custom CSS */
/* Start custom CSS for nav-menu, class: .elementor-element-caccf89 */.elementor-362 .elementor-element.elementor-element-caccf89 ul li a:before{
    /*content:"Â·";
    display: inline-block;
    opacity: 9 !important;
    border:none;
    background:none !important;
    font-size: 30px;*/
}
.elementor-362 .elementor-element.elementor-element-caccf89 ul li a{
    display: inline-block;
}/* End custom CSS */
/* Start custom CSS for heading, class: .elementor-element-0a55156 */.elementor-362 .elementor-element.elementor-element-0a55156 p{
    margin: 0;
}
.elementor-362 .elementor-element.elementor-element-0a55156{
    margin: 0;
}/* End custom CSS */
/* Start custom CSS for heading, class: .elementor-element-9b1c030 */.elementor-362 .elementor-element.elementor-element-9b1c030{
    margin: 0;
        height: 5px;
    overflow: hidden;
}
.elementor-362 .elementor-element.elementor-element-9b1c030 p{
    margin: 0;
}/* End custom CSS */
/* Start custom CSS for heading, class: .elementor-element-3d2320f */.elementor-362 .elementor-element.elementor-element-3d2320f{
    margin: 0;
        height: 5px;
    overflow: hidden;
}
.elementor-362 .elementor-element.elementor-element-3d2320f p{
    margin: 0;
}/* End custom CSS */
/* Start custom CSS for heading, class: .elementor-element-c3970ac */.elementor-362 .elementor-element.elementor-element-c3970ac{
    margin: 0;
        height: 5px;
    overflow: hidden;
}
.elementor-362 .elementor-element.elementor-element-c3970ac p{
    margin: 0;
}/* End custom CSS */
/* Start custom CSS for icon-list, class: .elementor-element-a7563ab */.elementor-362 .elementor-element.elementor-element-a7563ab svg{ 
    color:white !important;
    position: relative;
    top: 5px;
    width:25px;
    height: 25px;
    margin-right: 5px;
}
.elementor-362 .elementor-element.elementor-element-a7563ab li{
    word-break: break-word;
}/* End custom CSS */
/* Start custom CSS for heading, class: .elementor-element-9384002 */.elementor-362 .elementor-element.elementor-element-9384002 p{
    margin: 0;
}
.elementor-362 .elementor-element.elementor-element-9384002{
    margin: 0;
}/* End custom CSS */
/* Start custom CSS for nav-menu, class: .elementor-element-abcfcb6 */.elementor-362 .elementor-element.elementor-element-abcfcb6 ul li a:before{
    content:"Â·";
    display: inline-block;
    opacity: 9 !important;
    border:none;
    background:none !important;
    font-size: 30px;
}
.elementor-362 .elementor-element.elementor-element-abcfcb6 ul li a{
    display: inline-block;
}/* End custom CSS */
/* Start custom CSS for heading, class: .elementor-element-824bee5 */.elementor-362 .elementor-element.elementor-element-824bee5 p{
    margin: 0;
}
.elementor-362 .elementor-element.elementor-element-824bee5{
    margin: 0;
}/* End custom CSS */
/* Start custom CSS for nav-menu, class: .elementor-element-caccf89 */.elementor-362 .elementor-element.elementor-element-caccf89 ul li a:before{
    /*content:"Â·";
    display: inline-block;
    opacity: 9 !important;
    border:none;
    background:none !important;
    font-size: 30px;*/
}
.elementor-362 .elementor-element.elementor-element-caccf89 ul li a{
    display: inline-block;
}/* End custom CSS */
/* Start custom CSS for heading, class: .elementor-element-0a55156 */.elementor-362 .elementor-element.elementor-element-0a55156 p{
    margin: 0;
}
.elementor-362 .elementor-element.elementor-element-0a55156{
    margin: 0;
}/* End custom CSS */
/* Start custom CSS for heading, class: .elementor-element-63126cd */.elementor-362 .elementor-element.elementor-element-63126cd p:last-child{
    margin: 0;
}/* End custom CSS */
/* Start custom CSS for shortcode, class: .elementor-element-b08a0de */.elementor-362 .elementor-element.elementor-element-b08a0de{
    overflow: hidden;
    height: 0;
    display: none;
}/* End custom CSS */
/* Start custom CSS for shortcode, class: .elementor-element-64ddf12 */.elementor-362 .elementor-element.elementor-element-64ddf12{
    overflow: hidden;
    height: 0;
    display: none;
}/* End custom CSS */
/* Start custom CSS for shortcode, class: .elementor-element-a80432d */.elementor-362 .elementor-element.elementor-element-a80432d{
    height: 0;
    overflow: hidden;
    display: none;
}/* End custom CSS */
/* Start custom CSS for text-editor, class: .elementor-element-582b7af */.elementor-362 .elementor-element.elementor-element-582b7af span.select2-selection{
    border: none;
    background: transparent;
    border-bottom:1px solid #5f5f5f52;
     font-family: "Poppins", Sans-serif !important;
     color:#939EA4;
}
.elementor-362 .elementor-element.elementor-element-582b7af form label{
       font-family: "Poppins", Sans-serif !important;
    font-size: 15px;
    font-weight: 500;
    letter-spacing: .5px;
        color:black;
}
.elementor-362 .elementor-element.elementor-element-582b7af select{
    width: 100% !important;
    background: transparent !important;
    border-bottom: 1px solid #d1d1d1 !important;
    border-left: 0;
    border-right: 0;
    border-top: 0;
}
.elementor-362 .elementor-element.elementor-element-582b7af .wc_payment_method label{
        position: relative !important;
    top: -8px !important;
}
.elementor-362 .elementor-element.elementor-element-582b7af .woocommerce-input-wrapper strong{
    font-weight: 400 !important;
    color:black;
}
.elementor-362 .elementor-element.elementor-element-582b7af .shop_table{
    font-family: "Poppins", Sans-serif !important;
}
.elementor-362 .elementor-element.elementor-element-582b7af form input{
    border: none;
    background: transparent;
    border-bottom:1px solid #5f5f5f52;
     font-family: "Poppins", Sans-serif !important;
     color:#939EA4;
}
.elementor-362 .elementor-element.elementor-element-582b7af form input::-webkit-input-placeholder { /* Edge */
  opacity: 9;
  color:#939EA4;
      font-family: "Poppins", Sans-serif !important;
}

.elementor-362 .elementor-element.elementor-element-582b7af form input:-ms-input-placeholder { /* Internet Explorer 10-11 */
  opacity: 9;
  color:#939EA4;
      font-family: "Poppins", Sans-serif !important;
}

.elementor-362 .elementor-element.elementor-element-582b7af form input::placeholder {
  opacity: 9;
  color:#939EA4;
      font-family: "Poppins", Sans-serif !important;
}
.woocommerce-form__label-for-checkbox span{
   
}
.elementor-362 .elementor-element.elementor-element-582b7af #order_review button{
    background: #D4324B !important;
    padding:20px 25px !important;
    font-size:18px !important;
    font-weight: 600;
    border-radius: 10px !important;
    letter-spacing: .5px;
}
.elementor-362 .elementor-element.elementor-element-582b7af .woocommerce-additional-fields{
    display: none
}
.elementor-362 .elementor-element.elementor-element-582b7af .woocommerce-form__label-for-checkbox{
    display: flex !important;
} 
.elementor-362 .elementor-element.elementor-element-582b7af input{
    color: #333658 !important;
}
.elementor-362 .elementor-element.elementor-element-582b7af .mycheckbox span.optional{
    display: none !important;
}
.elementor-362 .elementor-element.elementor-element-582b7af .mycheckbox span.txt-lbl{
        position: relative;
    top: -5px;
    margin-bottom: 20px;
}
.elementor-362 .elementor-element.elementor-element-582b7af .mycheckbox span.txt-lbl span{
    color:#d4324b;
}
.elementor-362 .elementor-element.elementor-element-582b7af .mycheckbox label.checkbox{
        line-height: 20px;
    font-family: "Poppins", Sans-serif !important;
    font-weight: 400;
    margin-bottom: 0px;
}
.elementor-362 .elementor-element.elementor-element-582b7af .woocommerce-form__label-for-checkbox span{
       
    line-height: 20px;
      font-family: "Poppins", Sans-serif !important;
      font-weight: 400;
      margin-bottom: 0px;
}
.elementor-362 .elementor-element.elementor-element-582b7af .woocommerce-form__label-for-checkbox span.required{
    display: none;
}
.woocommerce-terms-and-conditions-checkbox-text span{
    display: inline-block;
    margin:0;
}
.woocommerce-terms-and-conditions-checkbox-text a{
    display: inline-block;
    margin:0;
}
.woocommerce-terms-and-conditions-checkbox-text{
        margin: 0;
    position: relative;
    top: -5px;
}
.woocommerce-terms-and-conditions-checkbox-text a.privacidad::after{
    content:"  *";
}/* End custom CSS */
/* Start custom CSS for heading, class: .elementor-element-63126cd */.elementor-362 .elementor-element.elementor-element-63126cd p:last-child{
    margin: 0;
}/* End custom CSS */
/* Start custom CSS for shortcode, class: .elementor-element-b08a0de */.elementor-362 .elementor-element.elementor-element-b08a0de{
    overflow: hidden;
    height: 0;
    display: none;
}/* End custom CSS */
/* Start custom CSS for shortcode, class: .elementor-element-64ddf12 */.elementor-362 .elementor-element.elementor-element-64ddf12{
    overflow: hidden;
    height: 0;
    display: none;
}/* End custom CSS */
/* Start custom CSS for shortcode, class: .elementor-element-a80432d */.elementor-362 .elementor-element.elementor-element-a80432d{
    height: 0;
    overflow: hidden;
    display: none;
}/* End custom CSS */
/* Start custom CSS for text-editor, class: .elementor-element-582b7af */.elementor-362 .elementor-element.elementor-element-582b7af span.select2-selection{
    border: none;
    background: transparent;
    border-bottom:1px solid #5f5f5f52;
     font-family: "Poppins", Sans-serif !important;
     color:#939EA4;
}
.elementor-362 .elementor-element.elementor-element-582b7af form label{
       font-family: "Poppins", Sans-serif !important;
    font-size: 15px;
    font-weight: 500;
    letter-spacing: .5px;
        color:black;
}
.elementor-362 .elementor-element.elementor-element-582b7af select{
    width: 100% !important;
    background: transparent !important;
    border-bottom: 1px solid #d1d1d1 !important;
    border-left: 0;
    border-right: 0;
    border-top: 0;
}
.elementor-362 .elementor-element.elementor-element-582b7af .wc_payment_method label{
        position: relative !important;
    top: -8px !important;
}
.elementor-362 .elementor-element.elementor-element-582b7af .woocommerce-input-wrapper strong{
    font-weight: 400 !important;
    color:black;
}
.elementor-362 .elementor-element.elementor-element-582b7af .shop_table{
    font-family: "Poppins", Sans-serif !important;
}
.elementor-362 .elementor-element.elementor-element-582b7af form input{
    border: none;
    background: transparent;
    border-bottom:1px solid #5f5f5f52;
     font-family: "Poppins", Sans-serif !important;
     color:#939EA4;
}
.elementor-362 .elementor-element.elementor-element-582b7af form input::-webkit-input-placeholder { /* Edge */
  opacity: 9;
  color:#939EA4;
      font-family: "Poppins", Sans-serif !important;
}

.elementor-362 .elementor-element.elementor-element-582b7af form input:-ms-input-placeholder { /* Internet Explorer 10-11 */
  opacity: 9;
  color:#939EA4;
      font-family: "Poppins", Sans-serif !important;
}

.elementor-362 .elementor-element.elementor-element-582b7af form input::placeholder {
  opacity: 9;
  color:#939EA4;
      font-family: "Poppins", Sans-serif !important;
}
.woocommerce-form__label-for-checkbox span{
   
}
.elementor-362 .elementor-element.elementor-element-582b7af #order_review button{
    background: #D4324B !important;
    padding:20px 25px !important;
    font-size:18px !important;
    font-weight: 600;
    border-radius: 10px !important;
    letter-spacing: .5px;
}
.elementor-362 .elementor-element.elementor-element-582b7af .woocommerce-additional-fields{
    display: none
}
.elementor-362 .elementor-element.elementor-element-582b7af .woocommerce-form__label-for-checkbox{
    display: flex !important;
} 
.elementor-362 .elementor-element.elementor-element-582b7af input{
    color: #333658 !important;
}
.elementor-362 .elementor-element.elementor-element-582b7af .mycheckbox span.optional{
    display: none !important;
}
.elementor-362 .elementor-element.elementor-element-582b7af .mycheckbox span.txt-lbl{
        position: relative;
    top: -5px;
    margin-bottom: 20px;
}
.elementor-362 .elementor-element.elementor-element-582b7af .mycheckbox span.txt-lbl span{
    color:#d4324b;
}
.elementor-362 .elementor-element.elementor-element-582b7af .mycheckbox label.checkbox{
        line-height: 20px;
    font-family: "Poppins", Sans-serif !important;
    font-weight: 400;
    margin-bottom: 0px;
}
.elementor-362 .elementor-element.elementor-element-582b7af .woocommerce-form__label-for-checkbox span{
       
    line-height: 20px;
      font-family: "Poppins", Sans-serif !important;
      font-weight: 400;
      margin-bottom: 0px;
}
.elementor-362 .elementor-element.elementor-element-582b7af .woocommerce-form__label-for-checkbox span.required{
    display: none;
}
.woocommerce-terms-and-conditions-checkbox-text span{
    display: inline-block;
    margin:0;
}
.woocommerce-terms-and-conditions-checkbox-text a{
    display: inline-block;
    margin:0;
}
.woocommerce-terms-and-conditions-checkbox-text{
        margin: 0;
    position: relative;
    top: -5px;
}
.woocommerce-terms-and-conditions-checkbox-text a.privacidad::after{
    content:"  *";
}/* End custom CSS */
/* Start custom CSS for section, class: .elementor-element-be6b109 */.elementor-362 .elementor-element.elementor-element-be6b109 .col2-set h3{
    color:transparent;
    margin:0 !important;
    padding:0 !important;
    margin-bottom: 30px !important;
}
.elementor-362 .elementor-element.elementor-element-be6b109 .col2-set h3::after{
    content:"Detalles de FacturaciÃ³n";
    color:black;
    display: block;
    text-align: center;
    font-weight: 600;
    font-size: 26px;
    margin-top: 0;
}
#order_review_heading{
    color:transparent;
    margin:0 !important;
    padding:0 !important;
    margin-bottom: 30px !important;
    background: #ffffffcc;
    padding: 30px;
    padding-top: 10px !important;
    border-radius: 30px !important;
    margin-bottom: 0 !important;
     border-bottom-right-radius: 0px !important;
    border-bottom-left-radius: 0px !important;
}
#order_review_heading::after{
    content:"Detalles de FacturaciÃ³n";
    color:black;
    display: block;
    text-align: center;
    font-weight: 600;
    font-size: 26px;
    margin-top: 0;
}
.elementor-362 .elementor-element.elementor-element-be6b109 .col2-set{
    background: #ffffffcc;
    padding: 30px;
    padding-top: 10px !important;
    border-radius: 30px !important;
}
.elementor-362 .elementor-element.elementor-element-be6b109 #order_review{
    background: #ffffffcc;
    padding: 30px;
    padding-top: 10px !important;
    border-radius: 30px !important;
    border-top-right-radius: 0px !important;
    border-top-left-radius: 0px !important;
}/* End custom CSS */
/* Start custom CSS for heading, class: .elementor-element-52763e8 */.elementor-362 .elementor-element.elementor-element-52763e8 p{
    margin: 0;
}
.elementor-362 .elementor-element.elementor-element-52763e8{
    margin: 0;
}/* End custom CSS */
/* Start custom CSS for heading, class: .elementor-element-52763e8 */.elementor-362 .elementor-element.elementor-element-52763e8 p{
    margin: 0;
}
.elementor-362 .elementor-element.elementor-element-52763e8{
    margin: 0;
}/* End custom CSS */
/* Start custom CSS for section, class: .elementor-element-da95cd0 */.woocommerce-button{
    padding:10px 10px !important;
}
form.woocommerce-form-login button.woocommerce-form-login__submit{
    padding-left: 20px !important;
    padding-right: 20px !important;
}/* End custom CSS */
/* Start custom CSS for heading, class: .elementor-element-9b1c030 */.elementor-362 .elementor-element.elementor-element-9b1c030{
    margin: 0;
        height: 5px;
    overflow: hidden;
}
.elementor-362 .elementor-element.elementor-element-9b1c030 p{
    margin: 0;
}/* End custom CSS */
/* Start custom CSS for heading, class: .elementor-element-3d2320f */.elementor-362 .elementor-element.elementor-element-3d2320f{
    margin: 0;
        height: 5px;
    overflow: hidden;
}
.elementor-362 .elementor-element.elementor-element-3d2320f p{
    margin: 0;
}/* End custom CSS */
/* Start custom CSS for heading, class: .elementor-element-c3970ac */.elementor-362 .elementor-element.elementor-element-c3970ac{
    margin: 0;
        height: 5px;
    overflow: hidden;
}
.elementor-362 .elementor-element.elementor-element-c3970ac p{
    margin: 0;
}/* End custom CSS */
/* Start custom CSS for icon-list, class: .elementor-element-a7563ab */.elementor-362 .elementor-element.elementor-element-a7563ab svg{ 
    color:white !important;
    position: relative;
    top: 5px;
    width:25px;
    height: 25px;
    margin-right: 5px;
}
.elementor-362 .elementor-element.elementor-element-a7563ab li{
    word-break: break-word;
}/* End custom CSS */
/* Start custom CSS for heading, class: .elementor-element-9384002 */.elementor-362 .elementor-element.elementor-element-9384002 p{
    margin: 0;
}
.elementor-362 .elementor-element.elementor-element-9384002{
    margin: 0;
}/* End custom CSS */
/* Start custom CSS for nav-menu, class: .elementor-element-abcfcb6 */.elementor-362 .elementor-element.elementor-element-abcfcb6 ul li a:before{
    content:"Â·";
    display: inline-block;
    opacity: 9 !important;
    border:none;
    background:none !important;
    font-size: 30px;
}
.elementor-362 .elementor-element.elementor-element-abcfcb6 ul li a{
    display: inline-block;
}/* End custom CSS */
/* Start custom CSS for heading, class: .elementor-element-824bee5 */.elementor-362 .elementor-element.elementor-element-824bee5 p{
    margin: 0;
}
.elementor-362 .elementor-element.elementor-element-824bee5{
    margin: 0;
}/* End custom CSS */
/* Start custom CSS for nav-menu, class: .elementor-element-caccf89 */.elementor-362 .elementor-element.elementor-element-caccf89 ul li a:before{
    /*content:"Â·";
    display: inline-block;
    opacity: 9 !important;
    border:none;
    background:none !important;
    font-size: 30px;*/
}
.elementor-362 .elementor-element.elementor-element-caccf89 ul li a{
    display: inline-block;
}/* End custom CSS */
/* Start custom CSS for heading, class: .elementor-element-0a55156 */.elementor-362 .elementor-element.elementor-element-0a55156 p{
    margin: 0;
}
.elementor-362 .elementor-element.elementor-element-0a55156{
    margin: 0;
}/* End custom CSS */
/* Start custom CSS for heading, class: .elementor-element-9b1c030 */.elementor-362 .elementor-element.elementor-element-9b1c030{
    margin: 0;
        height: 5px;
    overflow: hidden;
}
.elementor-362 .elementor-element.elementor-element-9b1c030 p{
    margin: 0;
}/* End custom CSS */
/* Start custom CSS for heading, class: .elementor-element-3d2320f */.elementor-362 .elementor-element.elementor-element-3d2320f{
    margin: 0;
        height: 5px;
    overflow: hidden;
}
.elementor-362 .elementor-element.elementor-element-3d2320f p{
    margin: 0;
}/* End custom CSS */
/* Start custom CSS for heading, class: .elementor-element-c3970ac */.elementor-362 .elementor-element.elementor-element-c3970ac{
    margin: 0;
        height: 5px;
    overflow: hidden;
}
.elementor-362 .elementor-element.elementor-element-c3970ac p{
    margin: 0;
}/* End custom CSS */
/* Start custom CSS for icon-list, class: .elementor-element-a7563ab */.elementor-362 .elementor-element.elementor-element-a7563ab svg{ 
    color:white !important;
    position: relative;
    top: 5px;
    width:25px;
    height: 25px;
    margin-right: 5px;
}
.elementor-362 .elementor-element.elementor-element-a7563ab li{
    word-break: break-word;
}/* End custom CSS */
/* Start custom CSS for heading, class: .elementor-element-9384002 */.elementor-362 .elementor-element.elementor-element-9384002 p{
    margin: 0;
}
.elementor-362 .elementor-element.elementor-element-9384002{
    margin: 0;
}/* End custom CSS */
/* Start custom CSS for nav-menu, class: .elementor-element-abcfcb6 */.elementor-362 .elementor-element.elementor-element-abcfcb6 ul li a:before{
    content:"Â·";
    display: inline-block;
    opacity: 9 !important;
    border:none;
    background:none !important;
    font-size: 30px;
}
.elementor-362 .elementor-element.elementor-element-abcfcb6 ul li a{
    display: inline-block;
}/* End custom CSS */
/* Start custom CSS for heading, class: .elementor-element-824bee5 */.elementor-362 .elementor-element.elementor-element-824bee5 p{
    margin: 0;
}
.elementor-362 .elementor-element.elementor-element-824bee5{
    margin: 0;
}/* End custom CSS */
/* Start custom CSS for nav-menu, class: .elementor-element-caccf89 */.elementor-362 .elementor-element.elementor-element-caccf89 ul li a:before{
    /*content:"Â·";
    display: inline-block;
    opacity: 9 !important;
    border:none;
    background:none !important;
    font-size: 30px;*/
}
.elementor-362 .elementor-element.elementor-element-caccf89 ul li a{
    display: inline-block;
}/* End custom CSS */
/* Start custom CSS for heading, class: .elementor-element-0a55156 */.elementor-362 .elementor-element.elementor-element-0a55156 p{
    margin: 0;
}
.elementor-362 .elementor-element.elementor-element-0a55156{
    margin: 0;
}/* End custom CSS */
/* Start custom CSS */body.elementor-page-362 .woocommerce-form-login{
    background: #ffffffcc;
    padding: 30px;
    /* padding-top: 10px !important; */
    border-radius: 30px !important;
    color: #333658 !important;
}
body.elementor-page-362 .woocommerce-form-login form{
    color: #333658 !important;
}
.woocommerce-form-login form button{
    text-transform: uppercase;
    background: #D4324B !important;
    padding: 20px 30px !important;
    font-size: 18px !important;
    font-weight: 600;
    border-radius: 10px !important;
    letter-spacing: .5px;
}
#order_review{
        color: #333658 !important;
}/* End custom CSS */